@media only screen and (max-width: 1800px) {

	.header_row {
		padding-left: 25px;
		padding-right: 25px;
	}

	.row_2 {
	    padding-left: 25px;
		padding-right: 25px;
	}

}

@media only screen and (max-width: 1700px) {

	.main_nav li a {
	    font-size: 22px;
	    line-height: 22px;
	}

}

@media only screen and (max-width: 1240px) {



}


@media only screen and (max-width: 900px) {



}

@media only screen and (max-width: 767px) {



}

@media only screen and (max-width: 600px) {



}


@media only screen and (max-width: 480px) {

	
}
